* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

*, *::before, *::after {
    box-sizing: border-box;
}


div {
    display: block;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

header {
    width: 100%;
    padding: auto;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

header img {
    height: 100%;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    background-color: transparent;
    text-shadow: 2px 2px black;
}

.nav-link {
    text-shadow: 2px 2px black !important;
    font-size: 20px;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.h-100 {
    height: 100% !important;
}

.text-center {
    text-align: center !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 5.5rem;
    }
}

@media (min-width: 992px) {
    header.masthead h1 {
        font-size: 3rem;
    }
}


header.masthead h1 {
    font-size: 3.25rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-shadow: 2px 2px black;
}

header.masthead h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-shadow: 2px 2px black;
}

.display-3 {
    line-height: 1.2 !important;
}

.display-3 {
    font-size: 4.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff
}

@media (min-width: 992px) {
    header .masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }
}



header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem 72px);
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background: rgba(0,0,100,0.4);
    height: 100vh;
}

.video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    padding: 0px;
    margin: 0px;
}

@media (min-aspect-ratio:16/9)
{
    .video-bg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9)
{
    .video-bg {
        width: auto;
        height: 100%;
    }
}

#portfolio img {
    vertical-align: middle;
    border-style: none;
}



header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 1200px) {
    header.masthead p {
        font-family: 'Titillium Web', sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
    }
}

header.masthead p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-shadow: 2px 2px black;
    padding: 0px;
} 

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#about {
    padding: 8rem 0;
    background-color: black;
}

#about p {
    font-size: 20px;
    letter-spacing: 1px;
}

#contact p {
    font-size: 20px;
    letter-spacing: 2px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    header .masthead p {
        font-size: 45px !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
     header .masthead p {
        font-size: 45px !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    header .masthead p {
        font-size: 70px !important;
    }
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
background-color: #ecf0f1;
border: 1px solid #ecf0f1;
color: #000;
margin-right: 15px;
}

.btn:hover,
.btn:active {
  background-color: #b1c2c6;
}

.btn-full:hover,
.btn-full:active {
 border: 1px solid #b1c2c6;
 color: #000;
}

.btn-services {
    text-align: center;
  }


.page-section {
    padding: 80px 0;
    background-color: black;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px);
}

img {
    vertical-align: middle;
    border-style: none;
}

.custom-toggler .navbar-toggler {
    border-color: white;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px) {
    .col-lg-8 {
        -webkit-box-flex: 0;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
}

.col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.h4  {
    color: #fff;
}

.fa-html5 {
    font-size: 100px;
    padding: 10px;
    color: #E34F26;
    
}


.fa-css3-alt {
    font-size: 100px;
    padding: 10px;
    color: #2862EA;
}


.fa-js-square {
    font-size: 100px;
    padding: 10px;
    color:#E9D54D;
}


.fa-bootstrap {
    font-size: 100px;
    padding: 10px;
    color: #6D42A0;
}

.fa-react {
    font-size: 100px;
    padding: 10px;
    color: #48CFF8;
}

.fa-node {
    font-size: 100px;
    padding: 10px;
    color: #508B48;
}

.icon-mysql {
    font-size: 80px;
    padding: 10px;
    padding-left: 30px;
    color: #299FB9;
}

.icon-wordpress {
    font-size: 80px;
    padding: 10px;
    color: #207297;
}

.fa-github {
    font-size: 80px;
    padding: 10px;
    /* color: #fff; */
}

.fa-github:hover {
    font-size: 90px;
    color: #fff;
    cursor: pointer;
}

.fa-linkedin {
    font-size: 80px;
    padding: 10px;
    color: #0072AE
}

.fa-linkedin:hover {
    font-size: 90px;
    color: rgb(4, 98, 148);
    cursor: pointer;
}

.fa-envelope {
    font-size: 80px;
    padding: 10px;
    color: grey;
}

.fa-envelope:hover {
    font-size: 90px;
    color: rgb(94, 93, 93);
    cursor: pointer;
}

#portfolio img {
    align-items: center !important;
}

.btn {
    display: inline-block !important;
}

#portfolio .container-fluid {
    max-width: 1920px;
}

.p-0 {
    padding: 0 !important;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 992px) {
.col-lg-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    }
}

@media (min-width: 576px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

#portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
}

#porfolio {
    background-color: black !important;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}


#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgb(4, 98, 148, 0.9);
    transition: opacity 0.25s ease;
    
}
