* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

header {
    width: 100%;
    padding: auto;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

header img {
    height: 100%;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    background-color: transparent;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.h-100 {
    height: 100% !important;
}

.text-center {
    text-align: center !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 5.5rem;
    }
}

@media (min-width: 992px) {
    header.masthead h1 {
        font-size: 3rem;
    }
}

header.masthead h1 {
    font-size: 3.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-shadow: 2px 2px black;
}

.display-3 {
    line-height: 1.2 !important;
}

.display-3 {
    font-size: 4.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff
}

@media (min-width: 992px) {
    header .masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem 72px);
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background: rgba(0,0,100,0.4);
    height: 100vh;
}

.video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

@media (min-aspect-ratio:16/9)
{
    .video-bg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9)
{
    .video-bg {
        width: auto;
        height: 100%;
    }
}

header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /* width: auto;
    height: auto;
    z-index: 0; */
    transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 1200px) {
    header.masthead p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
    }
}

header.masthead p {
    /* font-size: 1.25rem !important; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-shadow: 2px 2px black;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
*/ 

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
background-color: #ecf0f1;
border: 1px solid #ecf0f1;
color: #000;
margin-right: 15px;
}

.btn:hover,
.btn:active {
  background-color: #b1c2c6;
}

.btn-full:hover,
.btn-full:active {
 border: 1px solid #b1c2c6;
 color: #000;
}

.btn-services {
    text-align: center;
  }

/* .btn-full {
    padding: 1.25rem 2.25rem;
    font-size: 1.0rem;
    font-weight: 700;
    text-transform: uppercase !important;
    border: none;
    border-radius: 50rem;
} */

.page-section {
    padding: 8rem 0;
}

 .bg-primary {
    background: radial-gradient(rgb(169, 177, 178), rgba(255,255,255,1)) !important
} 

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px) {
    .col-lg-8 {
        -webkit-box-flex: 0;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

.col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.fa-html5 {
    font-size: 100px;
    padding: 10px;
    color: #E34F26;
}

.fa-css3-alt {
    font-size: 100px;
    padding: 10px;
    color: #2862EA;
}

.fa-js-square {
    font-size: 100px;
    padding: 10px;
    color:#E9D54D;
}

.fa-bootstrap {
    font-size: 100px;
    padding: 10px;
    color: #6D42A0;
}

.fa-react {
    font-size: 100px;
    padding: 10px;
    color: #48CFF8;
}

.fa-node {
    font-size: 100px;
    padding: 10px;
    color: #508B48;
}

.icon-mysql {
    font-size: 80px;
    padding: 10px;
    padding-left: 30px;
    color: #299FB9;
}

.icon-heroku {
    font-size: 80px;
    padding: 10px;
    color: #5520AE;
}

.fa-github {
    font-size: 80px;
    padding: 10px;
    color: #151515;
}

.fa-linkedin {
    font-size: 500%;
    padding: 10px;
    color: #0072AE
}

.fa-envelope {
    font-size: 500%;
    padding: 10px;
}

/* 

/* 


@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    
    }
}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0,15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}


.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.pt-3, .py-3 {
    padding-top: 1rem !important
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        flex-direction: row;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    padding: 0.5rem 1rem;
}



nav {
    display: block;
}

@media (min-width: 992px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        flex-wrap: nowrap;
    }
}

.navbar > .container, .navbar > .container-fluid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

} */

/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: auto;
} */

/* div {
    display: block;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-box-direction: normal;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0,7)
    }
}

#mainNav .navbar-brand {
    font-family: ;
} */
/* 


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540;
    }
}


header .masthead h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
} */

/***********Landing Page*********/

header {
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* padding: auto;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat; */
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.row a {
    text-decoration: none;
}

.main-nav h1 {
    display: inline-block;
    font-size: 110%;
    font-family: 'Dancing Script', cursive;
    text-transform: none;
   
  }
 
   .main-nav {
     float: right;
     list-style: none;
     margin-top: 55px;
     position: relative;
   }
 
   .main-nav li {
     display: inline-block;
     margin-left: 40px;
   }
 
   .main-nav li a:link,
   .main-nav li a:visited {
     padding: 8px 0;
     color: #2f3640;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 90%;
     border-bottom: 2px solid transparent;
     transition: border-bottom 0.2s;
   }
 
   .main-nav li a:hover,
   .main-nav li a:active {
     border-bottom: 2px solid #ecf0f1;
   }
 
   .header-compact nav {
     color: #2f3640;
 }

